<a href="https://colab.research.google.com/github/sharinair14/Python-programs/blob/master/Bank_Marketing_dataset_using_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
banking = pd.read_csv('/content/banking.csv')

In [ ]:
banking.head()

   age          job  marital  ... euribor3m nr_employed    y
0   44  blue-collar  married  ...     4.963      5228.1  0.0
1   53   technician  married  ...     4.021      5195.8  0.0
2   28   management   single  ...     0.729      4991.6  1.0
3   39     services  married  ...     1.405      5099.1  0.0
4   55      retired  married  ...     0.869      5076.2  1.0

[5 rows x 21 columns]

In [ ]:
banking.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       1
duration          1
campaign          1
pdays             1
previous          1
poutcome          1
emp_var_rate      1
cons_price_idx    1
cons_conf_idx     1
euribor3m         1
nr_employed       1
y                 1
dtype: int64

In [ ]:
banking.groupby('education')['y'].value_counts()

education            y
basic.4y             0.0    1600
                     1.0     192
basic.6y             0.0     903
                     1.0      86
basic.9y             0.0    2409
                     1.0     201
high.school          0.0    3593
                     1.0     448
illiterate           0.0       8
                     1.0       1
professional.course  0.0    2005
                     1.0     278
university.degree    0.0    4510
                     1.0     719
unknown              0.0     634
                     1.0     101
Name: y, dtype: int64

In [ ]:
banking.education[banking.education == 'basic.4y'] = 'Basic'
banking.education[banking.education == 'basic.6y'] = 'Basic'
banking.education[banking.education == 'basic.9y'] = 'Basic'
banking.education[banking.education == 'high.school'] = 'High school'
banking.education[banking.education == 'illiterate'] = 'Illiterate'
banking.education[banking.education == 'professional.course'] = 'Professional course'
banking.education[banking.education == 'university.degree'] = 'University degree'
banking.education[banking.education == 'unknown'] = 'Unknown'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
cat_col=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']

In [ ]:
for col in cat_col:
  banking=pd.concat([banking.drop(col,axis=1),pd.get_dummies(banking[col],prefix=col,prefix_sep='-',drop_first=True)],axis=1)

In [ ]:
X = banking.drop('y',axis=1)

In [ ]:
y=banking['y']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=101)

In [ ]:
len(X_train)

12382

In [ ]:
len(X_test)

5307

In [ ]:
from sklearn.svm import SVC

RBF

In [ ]:
s = SVC(C=1,gamma=0.0001)

In [ ]:
s.fit(X_train,y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.0001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred=s.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print('Accuracy is ',accuracy_score(y_test,y_pred))

Accuracy is  0.9142995872784656

Linear

In [ ]:
s = SVC(C=0.5,kernel='linear')

In [ ]:
s.fit(X_train,y_train)

SVC(C=0.5, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred=s.predict(X_test)

In [ ]:
print('Accuracy is ',accuracy_score(y_test,y_pred))

Accuracy is  0.9046694181435624

In [ ]:
Poly

In [ ]:
s = SVC(C=0.1,kernel='poly')

In [ ]:
s.fit(X_train,y_train)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred=s.predict(X_test)

In [ ]:
print('Accuracy is ',accuracy_score(y_test,y_pred))

Accuracy is  0.9027271991583717