In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [23]:
train=pd.read_csv('E:\\Datascience\\Datasets\\satander-customer-satisfaction\\train.csv',nrows=5000)
test=pd.read_csv('E:\\Datascience\\Datasets\\satander-customer-satisfaction\\test.csv',nrows=5000)

In [24]:
len(train)

5000

In [25]:
df=pd.concat((train,test))

C:\Users\Shari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [26]:
df.head()

,ID,TARGET,delta_imp_amort_var18_1y3,delta_imp_amort_var34_1y3,delta_imp_aport_var13_1y3,delta_imp_aport_var17_1y3,delta_imp_aport_var33_1y3,delta_imp_compra_var44_1y3,delta_imp_reemb_var13_1y3,delta_imp_reemb_var17_1y3,...,saldo_var44,saldo_var46,saldo_var5,saldo_var6,saldo_var8,var15,var21,var3,var36,var38
0,1,0.0,0,0,0,0.0,0.0,0.0,0,0,...,0.0,0,0.00,0.0,0.0,23,0,2,99,39205.170000
1,3,0.0,0,0,-1,0.0,0.0,0.0,0,0,...,0.0,0,0.00,0.0,0.0,34,0,2,3,49278.030000
2,4,0.0,0,0,0,0.0,0.0,0.0,0,0,...,0.0,0,3.00,0.0,0.0,23,0,2,99,67333.770000
3,8,0.0,0,0,0,0.0,0.0,0.0,0,0,...,0.0,0,70.62,0.0,0.0,37,0,2,2,64007.970000
4,10,0.0,0,0,0,0.0,0.0,0.0,0,0,...,0.0,0,0.00,0.0,0.0,39,0,2,1,117310.979016

In [27]:
X=df.drop('TARGET',axis=1)
y=df['TARGET']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [30]:
len(X_train)

7000

In [31]:
len(X_test)

3000

In [32]:
X_train.shape

(7000, 370)

In [33]:
X_test.shape

(3000, 370)

In [34]:
var_thres=VarianceThreshold(threshold=0)

In [35]:
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [39]:
var_thres.get_support()

array([ True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True, False, False, False,  True,  True,  True,  True,
        True,  True,  True, False,  True, False, False, False,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True, False, False,  True,  True,
       False,  True, False, False, False, False, False, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False, False,  True,  True, False,  True,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False, False,  True, False,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True])

In [42]:
sum(var_thres.get_support())  #no. of True features or non condtant features

285

In [49]:
X_train.columns[var_thres.get_support()]

Index(['ID', 'delta_imp_aport_var13_1y3', 'delta_imp_aport_var17_1y3',
       'delta_imp_aport_var33_1y3', 'delta_imp_compra_var44_1y3',
       'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var17_1y3',
       'delta_imp_trasp_var17_in_1y3', 'delta_imp_venta_var44_1y3',
       'delta_num_aport_var13_1y3',
       ...
       'saldo_var42', 'saldo_var44', 'saldo_var5', 'saldo_var6', 'saldo_var8',
       'var15', 'var21', 'var3', 'var36', 'var38'],
      dtype='object', length=285)

In [50]:
len(X_train.columns[var_thres.get_support()])

285

In [55]:
const_features = [i for i in X_train.columns if i not in X_train.columns[var_thres.get_support()]]

In [56]:
len(const_features)  # No, of constant features

85

In [59]:
for i in const_features:
    print(i)

delta_imp_amort_var18_1y3
delta_imp_amort_var34_1y3
delta_imp_reemb_var33_1y3
delta_imp_trasp_var17_out_1y3
delta_imp_trasp_var33_in_1y3
delta_imp_trasp_var33_out_1y3
delta_num_reemb_var33_1y3
delta_num_trasp_var17_out_1y3
delta_num_trasp_var33_in_1y3
delta_num_trasp_var33_out_1y3
imp_amort_var18_hace3
imp_amort_var18_ult1
imp_amort_var34_hace3
imp_amort_var34_ult1
imp_reemb_var13_hace3
imp_reemb_var17_hace3
imp_reemb_var33_hace3
imp_reemb_var33_ult1
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var17_out_ult1
imp_trasp_var33_in_hace3
imp_trasp_var33_in_ult1
imp_trasp_var33_out_hace3
imp_trasp_var33_out_ult1
imp_var7_emit_ult1
ind_var13_medio
ind_var13_medio_0
ind_var18
ind_var18_0
ind_var2
ind_var27
ind_var27_0
ind_var28
ind_var28_0
ind_var2_0
ind_var34
ind_var34_0
ind_var41
ind_var46
ind_var46_0
ind_var7_emit_ult1
num_meses_var13_medio_ult3
num_op_var40_hace3
num_reemb_var13_hace3
num_reemb_var17_hace3
num_reemb_var33_hace3
num_reemb_var33_ult1
num_trasp_var17_in_hace3
num_trasp_var17_out_hace3
num_trasp_var17_out_ult1
num_trasp_var33_in_hace3
num_trasp_var33_in_ult1
num_trasp_var33_out_hace3
num_trasp_var33_out_ult1
num_var13_medio
num_var13_medio_0
num_var18
num_var18_0
num_var27
num_var27_0
num_var28
num_var28_0
num_var2_0_ult1
num_var2_ult1
num_var34
num_var34_0
num_var41
num_var46
num_var46_0
num_var7_emit_ult1
saldo_medio_var13_medio_hace2
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1
saldo_medio_var13_medio_ult3
saldo_medio_var29_hace2
saldo_medio_var29_hace3
saldo_var13_medio
saldo_var18
saldo_var27
saldo_var28
saldo_var2_ult1
saldo_var34
saldo_var41
saldo_var46

In [62]:
X_train=X_train.drop(const_features,axis=1)

In [64]:
X_train.shape

(7000, 285)