<a href="https://colab.research.google.com/github/sharinair14/ML/blob/master/Titanic_Dataset_Decision_Tree_Basic_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

In [36]:
titanic=sns.load_dataset('titanic')

In [37]:
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

Only considering the features survived,pclass,sex,age,fare

In [38]:
df=pd.DataFrame(data=titanic,columns=['survived','pclass','sex','age','fare'])

In [23]:
df.head()

   survived  pclass     sex   age     fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [39]:
df.isnull().sum()

survived      0
pclass        0
sex           0
age         177
fare          0
dtype: int64

In [40]:
df['age']=df['age'].fillna(df['age'].mean())

In [41]:
df.isnull().sum()

survived    0
pclass      0
sex         0
age         0
fare        0
dtype: int64

In [19]:
df['sex']=df['sex'].map({'male':1,'female':0})

In [47]:
#df['sex']=df['sex'].apply(lambda x:1 if x=='male' else 0 )

In [46]:
df.head()

   survived  pclass  sex   age     fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [49]:
X=df.drop(['survived'],axis=1)

In [51]:
y=df['survived']

In [54]:
from sklearn.model_selection import train_test_split

In [77]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [56]:
len(X_train)

712

In [57]:
len(X_test)

179

In [58]:
from sklearn.tree import DecisionTreeClassifier

**Using Gini **

In [78]:
dt = DecisionTreeClassifier()

In [79]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [80]:
ypred=dt.predict(X_test)

In [63]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [81]:
print('Accuracy is',accuracy_score(y_test,ypred))

Accuracy is 0.8044692737430168

**Using Entropy**

In [82]:
dt = DecisionTreeClassifier(criterion='entropy')

In [83]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [84]:
ypred=dt.predict(X_test)

In [85]:
print('Accuracy is',accuracy_score(y_test,ypred))

Accuracy is 0.7988826815642458